@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.whole {
    font-family: 'Poppins', sans-serif;



}

.container {

    background-repeat: no-repeat;
    object-fit: cover;

    /* height: 100%; */
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.text-container {
    /* height: 500px; */
    width: 50%;
    /* border: 1px solid black; */

}

.form-container {
    height: 40%;
    /* justify-content: center; */
    align-items: center;
    width: 35%;
    border: 0.2px solid black;
    box-shadow: 5px 5px 5px 5px rgba(255, 167, 159, 0.4);
    border-radius: 7px;
}

.header-container {
    margin: 0px;
    padding: 0rem;
    text-align: start;
    justify-content: left;
    text-shadow: 20px;
}

.header-container h1 {
    margin-bottom: 0cm;
    padding-bottom: 0cm;
    text-shadow: 10cm;
}

.header-container ul {
    margin-left: 0cm;
    justify-content: left;

}

.form {
    justify-content: center;
    /* padding-top: 4rem;
    padding-left: 1rem; */
}

li {
    font-weight: 500;
}

.center-container {
    /* display: flex; */
    /* justify-content: center; */
    padding: 1rem;
    /* height: 200px; */
    text-align: center;
}

.three-container {
    display: flex;
    justify-content: left;

}

.details {

    width: 30%;
    /* border: 1px solid black; */
    height: auto;
}

.upload {
    width: 30%;

    /* border: 1px solid black; */
    height: auto;
}

.pricing {

    width: 30%;
    /* border: 1px solid black; */
    height: auto;
}

.light-text {
    font-size: 50px;
    font-weight: 5000;


    /* color: rgb(150, 148, 148); */
}

.center-container h1 {
    font-weight: 5000;

}


.container1 {
    background-color: white;
    justify-content: left;
    align-items: start;
    padding-left: 0px;
}

.container1 h3 {
    align-items: left;
    justify-content: left;
    padding: 0;
    margin-left: 0cm;
    margin-bottom: 0cm;
}

.container1 p {

    font-weight: 100;
    align-items: start;
    justify-content: left;
}

.container1 b {
    color: rgb(191, 130, 160);
}

.icons {
    height: 50px;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
}

input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* CSS */
.button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}