.root {
    height: 0;
}

body {
    overflow-x: hidden;
    align-items: center;
    background-color: #e1f2fb;

}

.AppLayout {
    position: absolute;
    margin-top: 0;

}


.containerFindDreams {
    height: 500px;
    width: 80vw;
    bottom: -70vh;
    position: relative;
    margin: 0vw 0;

    margin-right: 4vw;
}

.Awesome3 {
    position: relative;
    margin-top: 100vh;
    width: 86.5vw;
    margin-left: 0px;
    padding: 1px 1px;
}

/* #abc{
    margin-top: 100px;
  position: absolute;
  top: 4000px;
  z-index: 0;
  margin-left: 15px;
  } */