.Landing {
    background: url('../Assets/home.jpg') no-repeat center;
    background-position: center;
    background-size: cover;
    height: 120vh;
    position: relative;
    padding-top: 10vh; /* Adjust the value as needed */
    margin-left: -80px;
    margin-right: -67px;
  }
  