.homeBackBack{
    background: url('../Assets/homeBack\ \(1\).jpg') no-repeat center;
    display: flex;
   background-color: antiquewhite;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
  }
  .homeBack .max-width{
  width: 100%;
  display: flex;
  }
  .homeBack .max-width .row{
  margin-right: 0;
  }
  a{
    
    margin-right: 110px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: right;
  
  }
  a1{
    margin-right: 600px;
    font-weight: bolder;
    font-size: larger;
    
  }
  header{
    background-color:#FFA79F;
  height: 40px;
  }