footer {
  top: 6000px;
  background-color: #ffc2bc;
  color: black;
  padding: 20px 0;
  position: absolute;
  margin-top: 150vh;

}

.footer-container {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 25%;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

li {
  margin-bottom: 5px;

}

i {
  font-weight: bolder;
  font-size: larger;
  font-variant: small-caps;

}

p {
  /* background-color: gray; */
  color: black;
  height: 90px;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  margin: 0px;
  font-weight: bolder;


}