nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white(0, 0, 0, 0.5);
  padding: 5px 80px;
  box-shadow: 0 5px 15px rgba(133, 133, 133, 0.06);
  height: 7vh;
  width: 90vw;
  position: relative;  
}


  #navbar {
    display: flex;
    align-items: center;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffcebb;
    transition: 0.3s ease-in-out;
  }
  #navbar li a:hover,
  #navbar li a.active {
    color: #e1f2fb;
  }
  
  #navbar li a:hover::after,
  #navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background:#ffcebb;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  #mobile {
    display: none;
  }
  
  #mobile i {
    color: #ffafa6;
    align-items: center;
  }
  
  @media screen and (max-width: 769px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 90px;
      right: -300px;
      width: 300px;
      height: 100vh;
      background: #5b5464;
      box-shadow: 0 40px 60px rgba(108, 32, 222, 0.1);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
    }
  
    #navbar.active {
      right: 0px;
    }
  
    #navbar li {
      margin-bottom: 25px;
    }
  
    #mobile {
      display: block;
    }
  
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  }



  ul .but {
      margin-bottom: 1vh;
      border: 2px solid rgb(254, 219, 196);
      padding: 5px 8px;
      font-size: large;
      font-weight:600;
  }

  ul .but:hover {
    background-color: rgb(85, 0, 0);
    color: rgb(254, 219, 196);
    transition: .5s;
    cursor: pointer;
}


ul .alPo {
  color: white;
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  margin-right: 20px;
}

ul .alPo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

ul .alPo:hover::after {
  width: 100%;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

#logo-16 {
  margin-right: 10px; /* Adjust the margin as needed */
}

.wxHomes {
  color: rgb(123, 20, 20);
  font-size: x-large;
  font-weight: 750;
  
}
