.list{
    display: flex;
    flex-direction: row;
    
}
.para{
    color: black;
    margin: 15px 45px;
    
}
li{
    list-style: none;
}
button{
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
    font-size: larger;
    font-weight: bolder;
    width: 125px;
    height: 51px;
}
button:hover{
    cursor:pointer;
}