.tagline {
    text-align: center;
    background-color: #202020;
    width: 350px;
  }
  
  .tagline h4 {
    font-size: 30px;
    color: #000000;
    font-weight: bolder;
  }
  
  .tagline p {
    font-size: 16px;
    color: #000000;
    font-weight: bolder;
  }
  
  .buttontag {
    margin-top: 600px;
    text-align: center;
    background-color: #000000;
    color: black;
    margin-left: 400px;
  }
  